.top {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 79%;
  margin-bottom: 5px;
}

.important {
  border-bottom: 1px solid black;
  width: 100%
  font-style: Verdana;
}
.header {
  color: MediumAquamarine;
  font-size: 14px;
  font-weight: bold;
}

.navigation {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 19%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.content {
  display: inline-flex;
}

.bigcontent {
  display: flex;
  justify-content: center;
}

.large {
  display: inline;
  margin-top: 20px;
  width: 630px;
  flex-wrap: wrap;
  text-align: horizontal;
}

.medium {
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  width: 300px;
}

.small {
  display: inline-flex;
  flex-direction: column;
  width: 240px;
  margin-right: 20px;
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.link {
  margin: 10px;
  color: black;
}

.logo {
  margin: 20px;
}

.one {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#main {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
  justify-content: flex-start;
}

#second {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  justify-content: center;
  }

#third {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  justify-content: center;
}

#fourth {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  justify-content: center;
}
