.top {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border: 1px solid black;
  margin-bottom: 5px;
}

.important {
  border-bottom: 1px solid black;
  width: 100%
  font-size: 14px;
  font-weight: bold;
  font-style: Verdana;
}
.header {
  color: MediumAquamarine;
}

.navigation {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 6%;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  display: inline-flex;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.bigcontent {
  display: flex;
  justify-content: center;
}

.large {
  display: inline-flex;
  flex-direction: column;
  margin-top: 20px;
  width: 630px;
}

.medium {
  display: inline-flex;
  border: 1px solid black;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  width: 300px;
}

.small {
  display: inline-flex;
  border: 1px solid border;
  flex-direction: column;
  width: 240px;
  margin-right: 20px;
  margin-top: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.link {
  margin: 10px;
  color: black;
}

.logo {
  margin: 20px;
}

.one {
  border: 1px solid black;
}
